body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Black", sans-serif;
}

h3 {
  font-weight: bold;
  font-size: 1.18rem;
}

p {
  color: black;
  font-size: 1rem;
}

/* Heading */
.big-heading {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

.price-section-heading {
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: white;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-weight: 100;
  font-size: 1.2rem;
}

/* Download button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title-image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.title-image-z {
  position: relative;
}

/* Features */
#features {
  position: relative;
  z-index: 1;
  padding: 7% 15%;
}

.feature-title {
  font-weight: bold;
  font-size: 1.18rem;
}

.feature-box {
  padding: 5%;
}

.icons {
  font-size: 40px;
  color: #ef8172;
  margin: 0 0 15px;
}

.icons:hover {
  color: #ff4c68;
}

/* Testimonials section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 15px;
}

.carousel-item {}

#press {
  background-color: #ef8172;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing-text {
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.pricing-column {
  padding: 3% 2%;
}

/* cta */

/* footer */

.footer-icon {
  margin: 20px 10px;
}

/* media queries */
@media (max-width: 1036px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }

  #title {
    text-align: center;
  }
}
